/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100%;
   width: 100%;

   margin: 0;
   padding: 0;
 }


/*body > div.container > div > div > div {*/
     /*opacity: 0.2;*/
     /*margin-top: -40px;
     margin-left: -55px;
     margin-right: -345px;
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 40px;*/
     /*padding-bottom: 100px;*/  /*need to change the back/next button styling if i want to do this*/
     /*background: no-repeat center center fixed;
     background-size: 100%;
     background-image: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;*/
  /*}*/

/*[style] {
  opacity: 0.2;
  }*/

/*div[style*="background-image: url(<%=@result.image_url%>);"] {
  opacity: 0.2;
}

.background[style*="background-image: url(<%=@result.image_url%>);"] {
  opacity: 0.2;
}

div[style~="background-image"] {
  opacity: 0.2;
}

.background[style~="background-image: url"] {
  opacity: 0.2;
}*/

.background {
    height: 200px;
    opacity: 0.3;    /*no good - makes the text opaque too
    /*z-index: -1*/
    margin-top: -90px;
    margin-left: -110px;
    margin-right: -440px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    /*padding-bottom: 100px;*/  /*need to change the back/next button styling if i want to do this*/
    background: no-repeat center center fixed;
    background-size: 100%;
    background-image: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }

.btn-xs {
  margin-top:10px;
  margin-bottom:5px;
  margin-right: 5px;
  margin-left: 5px;
}

.fa-home {
    background-color:#F8F8F8;
    /*color: #FFC0CB;*/
}

.navbar-nav {
  margin-left: 15px;
}

/*.navbar-nav li {*/
     /*border-radius: 5px;*/
     /*background-color: #ABCDEF;*/
     /*transition: background-color 0.5s ease;*/
     /*display:inline;*/
     /*font-size:14px;*/
     /*padding:0px;
     border:2px solid #ccc;
     margin-top:5px;
     margin-bottom:5px;
     margin-right: 5px;
     margin-left: 10px;*/
 /*}*/
 /*#navbar-nav ul li:hover a {
     box-shadow: 0 -2px red inset;
 }*/
 /*.active: hover {
     background-color : red;
}*/
/*#556677*/
 /*.active {
    background-color:red;
}*/

 /*.table-responsive {
  margin-top: 20px;
 }*/

 /*.form-group {*/
   /*background: #c41200;*/
   /*box-shadow: 2px 2px 3px #999;*/
   /*color: #c41200;*/
   /*display: inline-block;*/
   /*padding: 7px 9px 7px 9px;*/
   /*margin-left:20px;*/
 /*}*/

 /*.second-button {*/
   /*margin-top: -10px;*/
  /*margin-left:-20px; /* stopgap fix of undwanted indentation of 'hungry' button */
 /*}*/

 /*.footer {*/
   /*position: relative;*/
   /*margin-top: -150px; /* negative value of footer height */
   /*height: 150px;*/
   /*clear:both;*/
   /*padding-top:20px;*/
 /*}*/

 /*#map_canvas {
   height: 300px;
   width: 600px;
 }*/

 /*#control_container {
   margin: 20px;
 }
