/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100%;
   width: 100%;

   margin: 0;
   padding: 0;
 }

.background {
    height: 300px;
    opacity: 0.3;
    margin-top: -130px; /* -90px; */
    margin-left: -700px; /* -110px; */
    margin-right: -450px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    background: no-repeat center center fixed;
    background-size: 100%;
    background-image: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }

.btn-xs {
  margin-top:10px;
  margin-bottom:5px;
  margin-right: 5px;
  margin-left: 5px;
}

.fa-home {
    background-color:#F8F8F8;
}

.navbar-nav {
  margin-left: 15px;
}

.form-group:last-child {
  margin-top: -15px;
}

.footer {
  margin-top: 20px;
}

/* Large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {
  .container {
    width: 250px;
  }
  .col-lg-2 {
    width: 200px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 250px;
  }
  .col-lg-2 {
    width: 200px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container {
    width: 250px;
  }
  .col-lg-2 {
    width: 200px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    width: 250px;
  }
  .col-lg-2 {
    width: 200px;
  }
}
