<h1><%= @attraction.yelp_id %></h1>
<p>
 <!-- for location in @attraction.nearbys(1)
 link_to location.address, location  location.distance
 end  -->

  <p>
  <strong>Coordinates:</strong>
  <p>
    <% if @attraction.location.nil? == false %>
    <%= @attraction.location %>
    <% end %>
